<div class="w3l-faq-block py-5" id="faq">
    <div class="container content-gd py-lg-5">
        <div class="row mt-3">
            <div class="col-lg-6 faqw3-right pe-lg-5">
                <div class="faqw3content text-left">
                    <h6 class="title-subw3hny mb-1 text-left">Ask by Client</h6>
                    <h3 class="title-w3l mb-2">Sıkça Sorulan Sorular</h3>
                </div>
                <p class="mb-3">
                    Taşımacılıkla ilgili sorularınızı toplayıp cevapladık. 
                    Doğru cevaplar sizi hedefe ulaştırır..
                   
                </p>
                <p class="">
                   Cevaplar yeterli gelmezse bize her zaman iletişim adreslerimizden ulaşabilirsiniz.
                    Gösterdiğiniz ilgi için teşekkür ederiz.
                </p>
            </div>
            <div class="col-lg-6 faqw3-left">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h4 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                01. Karayolu taşımacılığında canlı takip yapılabilir mi?
                            </button>
                        </h4>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                               Karayolu taşımacılığında canlı takip sistemimiz kullanılmaktadır.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h4 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                02.Fiyatlandırma için nereden destek alabiliriz?
                            </button>
                        </h4>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                               Fiyatlandırma gönderinin türüne, boyutuna ve kullanılan taşımacılık yoluna göre farklılık gösterir.
                                Fiyatlandırma birimimizi arayarak ya da mail atarak bilgi alabilirsiniz.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h4 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                03.Deniz yolu taşımacılığında gönderinin teslimat süresi kaç gündür?
                            </button>
                        </h4>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                               Teslimat süreleri 3 ile 7 gün arasındadır.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h4 class="accordion-header" id="headingFourth">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourth" aria-expanded="false" aria-controls="collapseFourth">
                                04.Hava yolu taşımacılığında gönderi kapasitesi ne kadardır?
                            </button>
                        </h4>
                        <div id="collapseFourth" class="accordion-collapse collapse" aria-labelledby="headingFourth" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                            Hava yolu taşımacılığında maximum kapasite 55 kgdır.
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
