<section class="w3l-team-main team py-5" id="team">
    <div class="container py-lg-5">
        <div class="title-content text-center mb-2">
            <h6 class="title-subw3hny mb-1">Bizim Takım</h6>
            <h3 class="title-w3l">Bizimle Kim Çalışıyor?</h3>
        </div>
        <div class="row team-row justify-content-center">
            <div class="col-lg-4 col-6 team-wrap mt-lg-5 mt-4">
                <div class="team-member text-center">
                    <div class="team-img">
                        <img src="assets/images/team1.jpg" alt="" class="radius-image">
                        <div class="overlay-team">
                            <div class="team-details text-center">
                                <div class="socials mt-20">
                                    <a href="#url">
                                        <span class="fab fa-facebook-f"></span>
                                    </a>
                                    <a href="#url">
                                        <span class="fab fa-twitter"></span>
                                    </a>
                                    <a href="#url">
                                        <span class="fab fa-linkedin-in"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#url" class="team-title">Burak KAYA</a>
                    <p>Satış Temsilcisi</p>
                </div>
            </div>
            <!-- end team member -->
            <div class="col-lg-4 col-6 team-wrap mt-lg-5 mt-4">
                <div class="team-member text-center">
                    <div class="team-img">
                        <img src="assets/images/team3.jpg" alt="" class="radius-image">
                        <div class="overlay-team">
                            <div class="team-details text-center">
                                <div class="socials mt-20">
                                    <a href="#url">
                                        <span class="fab fa-facebook-f"></span>
                                    </a>
                                    <a href="#url">
                                        <span class="fab fa-twitter"></span>
                                    </a>
                                    <a href="#url">
                                        <span class="fab fa-linkedin-in"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#url" class="team-title">Banu KIZIL</a>
                    <p>Satış Temsilcisi</p>
                </div>
            </div>
            <!-- end team member -->
            <div class="col-lg-4 col-6 team-wrap mt-lg-5 mt-4">
                <div class="team-member text-center">
                    <div class="team-img">
                        <img src="assets/images/team2.jpg" alt="" class="radius-image">
                        <div class="overlay-team">
                            <div class="team-details text-center">
                                <div class="socials mt-20">
                                    <a href="#url">
                                        <span class="fab fa-facebook-f"></span>
                                    </a>
                                    <a href="#url">
                                        <span class="fab fa-twitter"></span>
                                    </a>
                                    <a href="#url">
                                        <span class="fab fa-linkedin-in"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#url" class="team-title">Can AKAY</a>
                    <p>Satış Temsilcisi</p>

                </div>
            </div>
            <!-- end team member -->
        </div>

    </div>
</section>
