<section class="w3l-clients py-5" id="testimonials">
    <div class="container pt-md-5 pt-4">
        <div class="w3-testimonial-grids align-items-center py-lg-5">
            <div class="w3-testimonial-content-top">
                <div class="mb-4">
                    <div class="item">
                        <div class="testimonial-content">
                            <div class="testimonial">
                                <blockquote>
                                    <q>
                                        <i class="fas fa-quote-left me-2"></i>
                                       Aldığımız taşımacılık hizmetinden, hızlı olması ve profesyonel çalışmaları nedeniyle
                                        çok memnun kaldık. Güler yüzlü, saygılı, alanında uzman olan çalışanlar 
                                        işinizi kolaylaştırıyor.
                                    </q>
                                </blockquote>
                                <div class="testi-des">
                                    <div class="test-img">
                                        <img src="https://clearwateranalytics.com/wp-content/uploads/2021/08/blue-shirt-man.png" class="img-fluid" alt="client-img">
                                    </div>
                                    <div class="peopl align-self">
                                        <h3>Cem Aslan</h3>
                                        <p class="indentity">İşletmeci</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
