
@{
    Layout = null;
}


<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Transpolar -  Transportation | Servisler </title>
    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,400;0,600;0,700;1,600&display=swap" rel="stylesheet">
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/Templates/Transpolar-Starter/assets/css/style-starter.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <!--/Header-->
    @Html.Action("PartialHeader")
    <!--//Header-->
    <!--/inner-page-->
    <div class="inner-banner py-5">
        <section class="w3l-breadcrumb text-left py-sm-5 ">
            <div class="container">
                <div class="w3breadcrumb-gids">
                    <div class="w3breadcrumb-left text-left">
                        <h2 class="inner-w3-title mt-lg-5 mt-4">
                            Servisler
                        </h2>

                    </div>
                    <div class="w3breadcrumb-right">
                        <ul class="breadcrumbs-custom-path">
                            <li><a href="/MainPage/Index/">Anasayfa</a></li>
                            <li class="active"><span class="fas fa-angle-double-right mx-2"></span> Servisler </li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <!--//inner-page-->
    <!--/w3l-index3-->
    <section class="w3l-index-about py-5" id="about2">
        <div class="container py-md-5 py-2">
            <div class="row">
                <div class="col-lg-6 pe-lg-5">
                    <div class="w3l-abouthny-img">
                        <img src="~/Templates/Transpolar-Starter/assets/images/ab.jpg" alt="" class="img-fluid radius-image">
                    </div>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-5">
                    <div class="w3l-abouthny-info">
                        <h6 class="title-subw3hny">Ne Yaparız?</h6>
                        <h3 class="title-w3l">
                           Size gönderileriniz ıçin tam kontrol veriyoruz.
                        </h3>
                        <p class="mt-4">Güvenliği ön planda tuttuğumuz hizmet anlayışımızda gönderilerinizin takibini
                        kolaylıkla yapabilmeniz için kontrolü size veriyoruz.</p>
                        <ul class="w3l-right-book w3l-right-book-grid mt-md-5 mt-4">
                            <li><span class="fas fa-check"></span> Şeffaf Fiyatlandırma</li>
                            <li><span class="fas fa-check"></span> Gerçek Zamanlı İzleme</li>
                            <li><span class="fas fa-check"></span> Depolama</li>
                            <li><span class="fas fa-check"></span> Kargo Güvenliği</li>
                            <li><span class="fas fa-check"></span> 7/24 Hizmet</li>
                            <li><span class="fas fa-check"></span> Hızlı ve Verimli Teslimat</li>
                        </ul>
                        <a href="#services" class="btn btn-style btn-primary mt-4">Daha Fazla</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//w3l-index3-->
    <!--/features-section-->
    @Html.Action("PartialFeatures")
    <!--//features-section -->
    <!--/servicess-2-->
    <section class="locations-1 w3services-3">
        <div class="locations py-5">
            <div class="container py-lg-5 py-md-4 py-2">
                <div class="heading text-center mx-auto">
                    <h6 class="title-subw3hny mb-1">What We Do</h6>
                    <h3 class="title-w3l mb-3">Öne Çıkan Hizmetler</h3>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-6 mt-md-5 mt-4">
                        <div class="w3property-grid">
                            <a href="#property">
                                <div class="box16">
                                    <img class="img-fluid" src="~/Templates/Transpolar-Starter/assets/images/g3.jpg" alt="">
                                    <div class="box-content text-center">
                                        <i class="fas fa-road"></i>
                                        <h3 class="title">Karayolu Taşımacılığı</h3>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-3 col-6 mt-md-5 mt-4">
                        <div class="w3property-grid">
                            <a href="#property">
                                <div class="box16">
                                    <img class="img-fluid" src="https://enpalogistic.com/wp-content/uploads/2021/02/hava-tasimaciligi-blog.png" alt="">
                                    <div class="box-content text-center">
                                        <i class="fas fa-helicopter"></i>
                                        <h3 class="title">Hava Taşımacılığı</h3>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-3 col-6 mt-md-5 mt-4">
                        <div class="w3property-grid">
                            <a href="#property">
                                <div class="box16">

                                    <img class="img-fluid" src="~/Templates/Transpolar-Starter/assets/images/g1.jpg" alt="">
                                    <div class="box-content text-center">
                                        <i class="fas fa-ship"></i>
                                        <h3 class="title">Lojistik Hizmetler</h3>

                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-3 col-6 mt-md-5 mt-4">
                        <div class="w3property-grid">
                            <a href="#property">
                                <div class="box16">
                                    <img class="img-fluid" src="~/Templates/Transpolar-Starter/assets/images/g5.jpg" alt="">
                                    <div class="box-content text-center">
                                        <i class="fas fa-water"></i>
                                        <h3 class="title">Karayolu Taşımacılığı</h3>

                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
    <!--/servicess-2-->
    <!--/footer-9-->
    @Html.Action("PartialFooter")
    <!--//footer-9 -->
    <!-- Template JavaScript -->
    <script src="~/Templates/Transpolar-Starter/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/Templates/Transpolar-Starter/assets/js/theme-change.js"></script>
    <!--/search-->
    <script src="~/Templates/Transpolar-Starter/assets/js/modernizr.custom.js"></script>
    <script src="~/Templates/Transpolar-Starter/assets/js/classie.js"></script>
    <script src="~/Templates/Transpolar-Starter/assets/js/demo1.js"></script>
    <!--//search-->
    <!-- MENU-JS -->
    <script>
        $(window).on("scroll", function() {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function() {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function() {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function() {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });

    </script>
    <!-- //MENU-JS -->
    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function() {
            $('.navbar-toggler').click(function() {
                $('body').toggleClass('noscroll');
            })
        });

    </script>
    <!-- //disable body scroll which navbar is in active -->
    <!-- //bootstrap -->
    <script src="~/Templates/Transpolar-Starter/assets/js/bootstrap.min.js"></script>

</body>

</html>

