<section class="w3l-features py-5" id="work">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="title-content text-center mb-lg-3 mb-4">
            <h6 class="title-subw3hny mb-1">Hizmetlerimiz</h6>
            <h3 class="title-w3l">Teklifimiz</h3>
        </div>
        <div class="main-cont-wthree-2">
            <div class="row">
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="grids-1 box-wrap">
                        <div class="icon">
                            <i class="fas fa-user-clock"></i>
                        </div>
                        <h4><a href="#service" class="title-head">Gerçek Zamanlı İzleme</a></h4>
                        <p class="text-para">Canlı takip kolaylığı. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="grids-1 box-wrap">
                        <div class="icon">
                            <i class="fas fa-warehouse"></i>
                        </div>
                        <h4><a href="#service" class="title-head">Depolama</a></h4>
                        <p class="text-para">Depolama için tam destek. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="grids-1 box-wrap">
                        <div class="icon">
                            <i class="fas fa-truck-loading"></i>
                        </div>
                        <h4><a href="#service" class="title-head">Kargo Güvenliği</a></h4>
                        <p class="text-para">Güvenlik bizim için her şeyden önce gelir. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="grids-1 box-wrap">
                        <div class="icon">
                            <i class="fas fa-shield-alt"></i>
                        </div>
                        <h4><a href="#service" class="title-head">Güvenli Ödemeler</a></h4>
                        <p class="text-para">Gönderilerinizin güvenliği kadar ödeme işlemlerinde de sizi güvence altına alıyoruz. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="grids-1 box-wrap">
                        <div class="icon">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h4><a href="#service" class="title-head">Hızlı Teslimat</a></h4>
                        <p class="text-para">Yılların verdiği tecrübe ile planlı çalışma sonucu teslimatlarımız güvenli ve hızlıdır.. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="grids-1 box-wrap">
                        <div class="icon">
                            <i class="fas fa-headset"></i>
                        </div>
                        <h4><a href="#service" class="title-head">7/24 Hizmet</a></h4>
                        <p class="text-para">Hiç durmadan çalışıyoruz. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
