@model AkademiPlus_Transportation.Models.TblProduct
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Ürün Ekleme Sayfası</h2>
<br />
<form method="post">

    <label>Ürün ADI</label>
    @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control" })
    <br />
    <label>Ürün BOYUTU</label>
    @Html.TextBoxFor(x => x.ProductSize, new { @class = "form-control" })
    <br />
    <label>Ürün DETAYLARI</label>
    @Html.TextAreaFor(x => x.ProductDescription, 5, 1, new { @class = "form-control" })
    <br />
    <label>Ürün Kategorisi</label>
    @Html.DropDownListFor(x=>x.ProductCategory, (List<SelectListItem>)ViewBag.v,new { @class="form-control"})
    <br />
    <button class="btn btn-primary">Ürün Ekle</button>

</form>

