
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<table class="table table-bordered">

    <tr>
        <th>KategoriID</th>
        <th>KategoriADI</th>
        
    </tr>
    <tr>
        <td>1</td>
        <td>Beyaz Eşya</td>

    </tr>
    <tr>
        <td>2</td>
        <td>Bilgisayar</td>
    </tr>

</table>
<div style="background-color:darkorange;margin-left:100px;margin-right:100px;margin-bottom:250px"> Burası Bir Divdir</div>
<br />
<div style="background-color:dodgerblue"> Burası Diğer Divdir</div>
