
@{
    Layout = null;
}

<h3> Yetenekler</h3>
<h4> Bildiğim Diller: C# , SQL , Asp.Net Core</h4>
<h4> Kullandığım Teknolojiler: MicroServis, N Tier, Dopper, Docker</h4>
<h5> Kullandığım Araçlar: Visual Studio, Vs Code, MsSQL, GitHub</h5>
<a href="/Default/Index/">Index Sayfasını AÇ</a>
